
.App {
  font-family: 'Poppins', Arial, sans-serif;
  min-height: 100vh;
  background-color: linear-gradient(to bottom, #AEDDFF, #FFFFFF);
}
body {
  font-family: 'Poppins', Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(174, 221, 255, 0.6), rgba(255, 255, 255, 0.6));
  margin: 0;
}



/* src/index.css or your main CSS file */

/*Navbar Top Bar Animation Part */
@keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 15s linear infinite;
  }

 @tailwind base;
@tailwind components;
@tailwind utilities;
