
.App {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* src/index.css or your main CSS file */

/*Navbar Top Bar Animation Part */
@keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 15s linear infinite;
  }

/* Tailwind's default styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
