
/* Testimonial Section */
.testimonial-section {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 2rem;
    border-radius: 25px;
background: linear-gradient(180deg, rgba(196, 232, 255, 0.60) 0%, rgba(209, 255, 200, 0.50) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Testimonial Section Title */
.testimonial-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    margin-bottom: 1.5rem;
}

.testimonial-section-title-h3 {
    color: #525252;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
/* Swiper Container */
.swiper {
    padding: 1rem 0;
}

/* Swiper Slide */
.swiper-slide {
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

.swiper-slide-active {
    opacity: 1;
    z-index: 10;
}

/* Testimonial Card */
.testimonial-card {
    width: 415px;
    height: 250px;
    flex-shrink: 0;
    background: #fff;
    
}

/* Content Inside the Card */
.testimonial-card-body {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* Testimonial Image */

.testimonial-star-img {
    width: 440px;
    display: flex;
    justify-content: space-between;
}
.testimonial-image {
    position: relative;
}
.testimonial-img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    object-fit: cover;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.testimonial-star {
    display: flex;
    transform: translateX(-50%);
    color: #ffcc00; /* Golden color for the stars */
    margin-top: 2rem;
  }
  
  .testimonial-star i {
    margin: 0 2px;
    font-size: 18px; /* Adjust the size of the stars */
  }

/* Testimonial Name and Title */
.testimonial-name {
    color: #525252;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: .5rem;
    margin-left: 1.5rem;
}

.testimonial-title-h3 {
    color: #525252;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: .5rem;
    margin-left: 1.5rem;
}

.testimonial-title-p {
    color: #525252;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 1.5rem;
}
/* Testimonial Text */
.testimonial-p {
    font-size: 0.8rem;
    color: #555;
    margin-top: 1rem;
    line-height: 1.5;
    margin-left: 1.5rem;
}
